.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: center;
    padding: 21px 0;
    background-color: rgb(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

@media screen and (min-width: 768px) {
    .navbar {
        justify-content: flex-start;
        padding: 21px 80px;
    }
}